.cropper-box {
  min-width: 700px;
}
.tailor {
  position: relative;
  display: inline-block;
  border: 1px solid #999;
  user-select: none;
}
.tailor > img {
  position: absolute;
  left: 0;
  width: 100%;
}
.cropper {
  position: absolute;
  width: 100%;
  overflow: hidden;
}
.resizer {
  position: absolute;
  border: 1px dashed gray;
  cursor: move;
  outline: 1000px solid rgba(0, 0, 0, 0.4);
}
.resize-bar {
  position: absolute;
}
.ord-hn {
  width: 100%;
  height: 7px;
  margin-top: -1px;
  cursor: n-resize;
}
.ord-hs {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 7px;
  margin-bottom: -1px;
  cursor: s-resize;
}
.ord-hw {
  top: 0;
  left: 0;
  width: 7px;
  margin-left: -1px;
  cursor: w-resize;
}
.ord-he {
  top: 0;
  right: 0;
  width: 7px;
  margin-right: -1px;
  cursor: e-resize;
}
.resize-handle {
  position: absolute;
  width: 7px;
  height: 7px;
  background: rgba(0, 0, 0, 0.5);
}
.ord-nw {
  top: 0;
  left: 0;
  margin-left: -1px;
  margin-top: -1px;
  cursor: nw-resize;
}
.ord-n {
  top: 0;
  left: 50%;
  margin-left: -4px;
  margin-top: -1px;
  cursor: n-resize;
}
.ord-ne {
  top: 0;
  right: 0;
  margin-top: -1px;
  margin-right: -1px;
  cursor: ne-resize;
}
.ord-w {
  top: 50%;
  left: 0;
  margin-top: -4px;
  margin-left: -1px;
  cursor: w-resize;
}
.ord-e {
  top: 50%;
  right: 0;
  margin-top: -4px;
  margin-right: -1px;
  cursor: e-resize;
}
.ord-sw {
  left: 0;
  bottom: 0;
  margin-left: -1px;
  margin-bottom: -1px;
  cursor: sw-resize;
}
.ord-s {
  left: 50%;
  bottom: 0;
  margin-left: -4px;
  margin-bottom: -1px;
  cursor: s-resize;
}
.ord-se {
  right: 0;
  bottom: 0;
  margin-bottom: -1px;
  margin-right: -1px;
  cursor: se-resize;
}
